* {
	box-sizing: border-box;
}

.header {
	display: block;
	font-size: 32px;
	font-family: Gill Sans, Arial, sans-serif;
	font-weight: normal;
	color: #676565;
	max-width: 846px;
	width: 100%;
	margin: 2px auto;
	padding: 0 22px;
}

.container {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: #676565;
	background-color: #feeed6;
	max-width: 846px;
	width: 100%;
	margin: 0 auto;
	padding: 5px 22px;
}

.entry-form {
	margin: 17px 0;
}

	.entry-form input,
	.entry-form textarea {
		width: 100%;
		margin: 8px 0 0;
		padding: 10px;
		border: 0;
	}

input[type="text"]::-moz-placeholder,
textarea::-moz-placeholder {
	color: #B5B5BB;
}

input[type="text"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #B5B5BB;
}

.hint {
	font-size: 16px;
	color: #737373;
	font-weight: normal;
	margin: 12px 0;
}

.btn-send button {
	background-color: #378DB2;
	color: #FFF;
	font-weight: bold;
	padding: 10px 13px;
	border: 0;
}

div.btn-send {
	text-align: right;
	margin: 12px 0;
}

.btn-send button:hover {
	cursor: pointer;
	background-color: #3795D8;
}

.comment textarea {
	height: 130px;
	resize: none;
}