* {
	box-sizing: border-box;
}

.container {
	max-width: 860px;
	font-family: Helvetica,Arial,sans-serif;
	font-size: 22px;
	color: #232829;
}

.employees-table {
	border-collapse: collapse;
	border: 1px solid #CCC;
	width: 100%;
	text-align: left;
}

	.employees-table thead {
		background-color: #3498DB;
		color: #FFF;
	}

	.employees-table th,
	.employees-table td {
		border: 1px solid #D5D5D5;
		padding: 14px 10px 11px;
	}

	.employees-table tbody tr:nth-child(odd) {
		background-color: #EEE;
	}
