* {
	box-sizing: border-box;
}

.container {
	max-width: 860px;
	font-family: helvetica;
	font-size: 22px;
	color: #232829;
}

.employees-table {
	border-collapse: collapse;
	border: 1px solid grey;
	width: 100%;
	text-align: left;
}

.header {
	background-color: #3498DB;
	color: #ffffff;
}

.header th, .employees-info td {
	border: 1px solid #D5D5D5;
	padding: 14px 10px 11px;
}

.employees-info tr:nth-child(odd) {
	background-color: #EEEEEE
}