* {
	box-sizing: border-box;
}

	*:before,
	*:after {
		box-sizing: border-box;
	}

html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	font-family: Roboto, Arial, sans-serif;
	font-size: 16px;
	line-height: normal;
	color: #333;
	background: linear-gradient(to bottom right,#CEEAFB,#85BEF9);
}

.main-form {
	max-width: 910px;
	width: 100%;
	margin: 20px auto;
	border: solid 1px #b9b9b9;
	box-shadow: -5px -5px 10px #b9b9b9;
}

/* Menu */
.menu {
	max-width: 910px;
	width: 100%;
	margin: 0 auto;
	background-color: #FFD307;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	padding: 0 0 0 5px;
}

.nav {
	display: flex;
	font-size: 15px;
	width: 13%;
	align-content: center;
	align-items: center;
}

.nav-link {
	display: inline-block;
	color: #808080;
	text-decoration: none;
	transition: color 0.2s linear;
	padding: 10%;

}

	.nav-link span {
		font-size: 10px;
	}

.nav:not(:first-child)::before {
	content: " ";
	background: #808080;
	width: 1px;
	height: 30px;
	align-items: flex-start;
	
}

.nav-link:hover {
	text-decoration: underline;
}

.nav-link:active {
	color: #f00;
	text-decoration: underline;
}

/* Requests List */
.container {
	width: 100%;
	max-width: 910px;
	margin: 0 auto;
	padding: 0 0 20px;
	color: #808080;
	font-family: Helvetica,Arial,sans-serif;
	background: linear-gradient(to bottom right,#FCFCFC,#DEDEE0);
}

.requests-form {
	width: 100%;
	margin: 0 auto;
	padding: 5px;
}

	.requests-form table {
		border-collapse: collapse;
		width: 100%;
		text-align: center;
		font-size: 10px;
		margin: 0;
		table-layout: auto;
	}

	.requests-form th {
		border-bottom: 1px solid #b9b9b9;
		font-size: 12px;
	}

	.requests-form th, .requests-form td {
		padding: 5px;
	}

/* Валидатор */
.body-req-form td:nth-child(1) {
	font-size: 14px;
}

/* Адрес */
.body-req-form td:nth-child(3) {
	font-size: 9px;
}

.head-req-form th:nth-child(3), .body-req-form td:nth-child(3) {
	text-align: left;
}

/* Остаток ЕТ */
.body-req-form td:nth-child(4) {
	font-size: 16px;
	font-weight: bold;
}

/* Сколько необходимо еще ЕТ */
.body-req-form td:nth-child(5) input {
	width: 30px;
	font-size: 9px;
	padding: 2px;
}

.body-req-form td:nth-child(5) {
	text-align: right;
}

/* Комментарий */
.head-req-form th:nth-child(6), .body-req-form td:nth-child(6) {
	text-align: left;
}

	.body-req-form td:nth-child(6) input {
		max-width: 200px;
		width: 100%;
		font-size: 9px;
		padding: 2px 8px;
	}

/* Buttons */
.btns-form {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	padding: 16px;
}


.btns-form button {
	background-color: #85B235;
	color: #FFF;
	
	width: 178px;
	height: 42px;
	border: 1px solid #628426;

	margin: 5px 10px;
}

button.btn-send {
	background: linear-gradient(to bottom right,#EEE, #CDCDCD );
	color: #919191;
	border: 1px solid #B1B2B2;
}

.header-app-prev {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 15px 30px 20px;
	align-items: center;
	align-content: center;
}

	.header-app-prev div:first-child {
		font-weight: bold;
		font-size: 20px;
	}

	.header-app-prev div {
		display: flex;
	}

	.header-app-prev div span {
		display: inline-block;
		margin: auto 20px;
	}

.header-app-prev button {
	
	border: none;
	color: #919191;
	background-color: none;
}

	.header-app-prev button:hover {
		cursor: pointer;

	}

	/*
	.header-app-prev span:last-child::after {
		content:
	}
*/
	/* Предыдущие завки */
	.table-app-previous {
		border-collapse: collapse;
		width: 100%;
		text-align: left;
		font-size: 12px;
		box-shadow: 0 -5px 5px #b9b9b9;
		padding: 0 20px;
	}

	.table-app-previous thead {
		background-color: #FFD511;
		color: #69590B;
		font-weight: bold;
	}

	.table-app-previous th, 
	.table-app-previous td {
		border-spacing: 5px;
		border-bottom: 1px dashed #FCFCFC;
		border-left: 1px dashed #FCFCFC;
		padding: 5px 10px;
	}

		.table-app-previous th:last-child,
		.table-app-previous td:last-child {
			border-spacing: 5px;
			border-left: none;
			
		}

			.table-app-previous td:last-child object {
				vertical-align: middle;
			}

.selected {
	background-color: #B4D2F7;
}

.btn-delete{
	 
}